<style >
  body{
     background-image: url("wait.jpg");
     background-repeat: no-repeat;/*we want to have one single image not a repeated one*/
   background-size: cover;
    overflow: hidden;
  }

    h1{
    /*margin-top: 50px;*/
    margin-left: 50px;
    color: #E4F1FE;
    text-shadow: inherit;
    text-decoration-style: solid;
    font-weight: 1000;
    font-size: 70px;
    font-family: "myfont";
    /*float:right;*/
    padding-right: 90px;
      margin-left: 60px; 
    /*padding-top: 50px;*/

  }
  h3{
    font-family: "myfont";
    
  }
  </style>
  <body>
  <div class="row">

<h1>Hunt Over!!</h1><br /><br />

<h3 style="margin-left:250px	"><%= link_to "Home", home_path, class: "btn-large btn-success"%></h3>

</div>
  </body>