<!DOCTYPE html>
<html lang="en">
<head>
  <style>    
    /* Set black background color, white text and some padding */
    body{
       height: 100%;
   width: 100%;

      background-image: url("victor.jpg");
        background-repeat: no-repeat;/*we want to have one single image not a repeated one*/  
        background-size: cover;
        margin-top: 200px;
      text-align: center;
    }
    h1{
      color: white;
    }
  </style>
</head>
<body>

<h1 > CONGRATS!!! YOU HAVE UNLOCKED THE TREASURE.</h1>

<a href="home" class="btn btn-info" role="button">Home</a>
</body>