  <!DOCTYPE html>
<html lang="en">
<head>
  <style>    
    /* Set black background color, white text and some padding */
    body{
       height: 100%;
   width: 100%;

      background-image: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)),url("victor.jpg");
      overflow: hidden;
      background-size: cover;
       }
    h1{
    /*margin-top: 50px;*/
    margin-left: 50px;
    color: #E4F1FE;
    text-shadow: inherit;
    text-decoration-style: solid;
    font-weight: 1000;
    font-size: 70px;
    font-family: "myfont";
    /*float:right;*/
    padding-right: 90px;
      margin-left: 60px; 
    /*padding-top: 50px;*/

  }
  h3{
    font-family: "Supercell-magic";
    
  }

  </style>
</head>

<div class="row">
<h1>You the Goblin!!</h1><br /><br /><br />
</div>


<div class="row">

<h3 style="margin-left:250px;"><%= link_to "Leaderboard", leaderboard_path, class: "btn-large btn-danger"%></h3>

</div>
