  <!DCTYPE html>
<html lang="en">
<head>
  <style>    
    /* Set black background color, white text and some padding */
    body{
       height: 100%;
   width: 100%;

      background-image: url("congrats.gif");
      overflow: hidden;
       position: relative;
        margin-top: 200px;
      text-align: center;
    }
    h1{
      color: white;
    }
  </style>
</head>
<body>
<a href="leaderboard" class="btn btn-info" style="font-family: 'Supercell-magic';" role="button">Leaderboard</a>
</body>