<style >
  body{
     background-image: url("wait.jpg");
     background-repeat: no-repeat;/*we want to have one single image not a repeated one*/
   background-size: cover;
    overflow: hidden;
  }


  h3{
    font-family: "myfont";
    
  }
  </style>
  <body>
  <div class="row">

<h3 style="margin-left:250px	"><%= link_to "Home", home_path, class: "btn-large btn-success"%></h3>

</div>
  </body>