<style >
  body{
    height: 50%;
   width: 50%;
     background-image: url("wait.jpg");
     background-repeat: no-repeat;/*we want to have one single image not a repeated one*/
   background-size: cover;
  }
  </style>
<div class="container">
<h1>A day to go</h1>
</div>